*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Spartan", sans-serif;
}
header{ 
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.16);

}
div{
    padding: 10px;
}

ul{
    list-style: none;
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;

}
ul li{
    padding:  0px 20px;
}
 li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease; 
}
li a.active , li a:hover{
    color: #088178;
}

li a.active::after , li a:hover::after{
    content: "";
    width: 60%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 0;
}
